<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>${AAR_LAUNCH_AGENT_LABEL}</string>
	<key>AssociatedBundleIdentifiers</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>BundleProgram</key>
	<string>${BUNDLE_EXECUTABLE_FOLDER_PATH}/${EXECUTABLE_NAME}</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>LowPriorityBackgroundIO</key>
	<true/>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
		<key>Crashed</key>
		<true/>
	</dict>
</dict>
</plist>
